<h2>Customer List Page</h2>

<div class="col-md-6 centeralign">
  <p>This Page Displays a list of customers</p>
  <p>Clicking on a Card Displays the name below. This is to demonstrate passing data from parent to child component</p>
  <p>"Click for more details" Redirects to a new page which displays the customer information</p>
  <div class="card centeralign addmargin" style="width: 18rem;" *ngFor="let customer of customers">
    <div class="card-body" (click) = setSelectedCustomer(customer.name)>
      <h5 class="card-title">{{customer.name}}</h5>
      <p class="card-text">{{customer.email}}</p>
      <p class="card-text">{{customer.phone}}</p>

      <a (click)=goToDetailsPage(customer.id) class="btn btn-primary">Click for more details</a>
    </div>
  </div>

  <app-display [customer] = selectedCustomer> </app-display>
</div>
