@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

.centeralign {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.addmargin {
  margin-top: 10px;
  margin-bottom: 10px;
}
